* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #808080;
}

img {
    float: left;
    margin-top: 13px;
}

.container {
    background-color: #fafafa;
    width: 320px;
    padding: 0 20px;
    margin: auto;
    height: 100%;
}

h2 {
    font-family: sans-serif;
    font-weight: 100;
    padding: 20px 0;
}

label {
    text-align: left;
    padding: 0 0 5px 0;
    font-size: 13px;
    font-weight: bold;
    display: block;
}

.search-container {
    position: relative;
}

.selected-toppings {
    margin-top: 25px;
}

hr {
    margin: 0;
}

.search-text {
    padding-top: 7px;
}

#dropdown {
    position: absolute;
    margin-top: 8px;
    width: 100%;
    z-index: 1;
}

select {
    width: 100%;
    -moz-appearance: none !important;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none !important;
    outline: none;
    border: none;
    box-shadow: 1px #ccc;
    border-radius: 5px;
    height: 100%;
    min-height: 100%;
    box-shadow: 0 1px 3px #666;
    overflow: auto;
}

select option {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #808080;
    font-weight: 600;
}